{% extends "templates/web.html" %}

{% block title %} {{_("Reset Password")}} {% endblock %}

{% block page_content %}

<div class="page-card">
        <div class='page-card-head'>
                <span class='indicator blue'>{{ ("Reset Password") if frappe.db.get_default('company') else ("Set Password")}}</span>
        </div>
        <form id="reset-password">
                <div class="form-group">
                        <input id="old_password" type="password"
                                class="form-control" placeholder="{{ _("Old Password") }}">
                </div>
                <div class="form-group">
                        <input id="new_password" type="password"
                                class="form-control" placeholder="{{ _("New Password") }}">

                        <span class="password-strength-indicator indicator"></span>
                </div>

                <div class="form-group">
                        <input id="confirm_password" type="password"
                                class="form-control" placeholder="{{ _("Confirm Password") }}">

                        <span class="password-strength-indicator indicator"></span>
                </div>




                <p class='password-strength-message text-muted small hidden'></p>
                <div id="message">
                          <span class="text-secondary">Your password must:</span>
                          <p id="letter" class="invalid text-danger mb-0 mt-2"> Include at least<strong> 1 lowercase letter(a-z)</strong></p>
                          <p id="capital" class="invalid text-danger mb-0 mt-0">Include at least<strong> 1 Capital letter(A-Z)</strong></p>
                          <p id="number" class="invalid text-danger mb-0 mt-0">Include at least <strong> 1 Number(0-9).</strong></p>
                          <p id="length" class="invalid text-danger mb-0 mt-0">Include at least<strong> 8 Characters</strong></p>
                          <p id="special" class="invalid text-danger mb-4 mt-0">Include at least<strong> 1 Special Character</strong></p>
                </div>
                <div class="w-size2" style="margin:auto;margin-top: 5px">
                        <button type="submit" class="btn btn-primary mt-2 px-3 mb-2 btn-sm" id="update"
                        class="flex-c-m sizefull bg1 p-t-10 p-b-10 bo-rad-23 hov1 s-text1 trans-0-4">{{_("Update")}}</button>
                </div>
        </form>
</div>
<style>
.hero-and-content {
        background-color: #f5f7fa;
}
</style>

<script>

frappe.ready(function() {
        if(frappe.utils.get_url_arg("key")) {
                $("#old_password").parent().toggle(false);
        }

        $("#reset-password").on("submit", function() {
                return false;
        });

        $("#new_password").on("keypress", function(e) {
                if(e.which===13) $("#update").click();
        })

        $("#update").click(function() {
                var args = {
                        key: frappe.utils.get_url_arg("key") || "",
                        old_password: $("#old_password").val(),
                        new_password: $("#new_password").val(),
                        confirm_password: $("#confirm_password").val(),

                        logout_all_sessions: 1
                }

                
                if(args.new_password == ""){
                            $('.page-card-head .indicator').removeClass().addClass('indicator red').html("{{ 'Alert: Password could not be blank' }}");
                            clear: true;
                }
                else if(args.new_password.length>25){
                                        $('.page-card-head .indicator').removeClass().addClass('indicator red').html("{{ 'Alert: Password exceeds maximum allowed characters. (Max characters allowed: 25)' }}");
                                        clear: true;
                                        return false;
                                }
                                else if(!args.new_password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/)){
                                        $('.page-card-head .indicator').removeClass().addClass('indicator red').html("{{ 'Alert: Password is not secure' }}");
                                        clear: true;
                                        return false;
                                }
               else if(args.new_password!= args.confirm_password){
                       $('.page-card-head .indicator').removeClass().addClass('indicator red').html("{{ 'Alert: Your password does not match. Please retype it to confirm.' }}");
                        clear: true;
                      return false;
               }
                //end of validation message


                if(!args.old_password && !args.key) {
                        frappe.msgprint("{{ _('Old Password Required.') }}");
                        return;
                }
                if(!args.new_password) {
                        frappe.msgprint("{{ _('New Password Required.') }}");
                        return;
                }
                frappe.call({
                        method:"tag_workflow.tag_data.get_update_password_user",
                        args:{key:args.key,},
                        async:0,
                        callback:function(rm){
                                if(rm.message=='set'){
                                        frappe.msgprint("Password has been already set through this link.")
                                        setTimeout(()=>{
                                                window.location.href = "/login#login";   
                                        }, 3000)
                                }
                                else{
                                        frappe.call({
                                                type: "POST",
                                                method: "frappe.core.doctype.user.user.update_password",
                                                btn: $("#update"),
                                                args: args,
                                                statusCode: {
                                                        401: function() {
                                                                $('.page-card-head .indicator').removeClass().addClass('indicator red')
                                                                        .text("{{ _('Old password not correct') }}");
                                                        },
                                                        200: function(r) {
                                                                $("input").val("");
                                                                strength_indicator.addClass('hidden');
                                                                strength_message.addClass('hidden');
                                                                $('.page-card-head .indicator')
                                                                        .removeClass().addClass('indicator green')
                                                                        .html("{{ _('Password Updated') }}");
                                                                if(r.message) {
                                                                        frappe.msgprint({
                                                                                message: "{{ _('Password Updated') }}",
                                                                                // password is updated successfully
                                                                                // clear any server message
                                                                                clear: true
                                                                        });
                                                                        if(rm.message=='Staffing'){
                                                                                window.location.href = "/app/staff-home";                                                
                                                                        }
                                                                        else if(['Hiring','Exclusive Hiring'].includes(rm.message)){
                                                                                window.location.href = "/app/hiring-home";   
                                                                        }
                                                                        else if(rm.message=='TAG'){
                                                                                window.location.href = "/app/tagadmin-page"; 
                                                                        }
                                                                        else{
                                                                                window.location.href = "/app/home";
                                                                        }     
                                                                }
                                                        }
                                                }
                                        });
                                }
                        }
                })    
                return false;
        });

        window.strength_indicator = $('.password-strength-indicator');
        window.strength_message = $('.password-strength-message');

        $('#new_password').on('keyup', function() {
                window.clear_timeout();
                window.timout_password_strength = setTimeout(window.test_password_strength, 200);
        });

        window.test_password_strength = function() {
                window.timout_password_strength = null;

                var args = {
                        key: frappe.utils.get_url_arg("key") || "",
                        old_password: $("#old_password").val(),
                        new_password: $("#new_password").val()
                }

                if (!args.new_password) {
                        set_strength_indicator('grey', {'warning': "{{ _('Please enter the password') }}" });
                        return;
                }

                return frappe.call({
                        type: 'GET',
                        method: 'frappe.core.doctype.user.user.test_password_strength',
                        args: args,
                        callback: function(r) {
                        },
                        statusCode: {
                                401: function() {
                                        $('.page-card-head .indicator').removeClass().addClass('indicator red')
                                                .text("{{ _('Invalid Password') }}");
                                },
                                200: function(r) {
                                        if (r.message?.entropy) {
                                                var score = r.message.score,
                                                        feedback = r.message.feedback;

                                                feedback.crack_time_display = r.message.crack_time_display;
                                                feedback.score = score;

                                                if(feedback.password_policy_validation_passed){
                                                        set_strength_indicator('green', feedback);
                                                }else{
                                                        set_strength_indicator('red', feedback);
                                                }
                                        }
                                }
                        }

                });
        };

        window.set_strength_indicator = function(color, feedback) {
                var message = [];
                feedback.help_msg = "";
                if(!feedback.password_policy_validation_passed){
                        //feedback.help_msg = "<br>" + "{{ _("Hint: Include symbols, numbers and capital letters in the password") }}";
                }
                if (feedback) {
                        if(!feedback.password_policy_validation_passed){
                                if (feedback.suggestions?.length) {
                                        message = message.concat(feedback.suggestions);
                                } else if (feedback.warning) {
                                        message.push(feedback.warning);
                                }
                                message.push(feedback.help_msg);

                        } else {
                                message.push("{{ _('Success! You are good to go 👍') }}");
                        }
                }

                strength_indicator.removeClass().addClass('password-strength-indicator indicator ' + color);
                strength_message.html(message.join(' ') || '').removeClass('hidden');
        }

        window.clear_timeout = function() {
                if (window.timout_password_strength) {
                        clearTimeout(window.timout_password_strength);
                        window.timout_password_strength = null;
                }
        };


var myInput = document.getElementById("new_password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var spcl = document.getElementById("special");
var cpass = document.getElementById("confirm_password");

myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }

//validate special character
var symbol = /[~.!@##$%^&*_+=?-]/;
if(myInput.value.match(symbol)) {
    spcl.classList.remove("invalid");
    spcl.classList.add("valid");
 } else {
    spcl.classList.remove("valid");
   spcl.classList.add("invalid");
  }
}

cpass.onkeyup = function()
{
        if(cpass.value === myInput.value) 
        {
        match.classList.remove("invalid");
        match.classList.add("valid");
        } 
        else {
        match.classList.remove("valid");
        match.classList.add("invalid");
        }
}
});
</script>


{% endblock %}

{% block style %}
<style>
        .password-strength-indicator {
                float: right;
                padding: 15px;
                margin-top: -38px;
                margin-right: -7px;
        }

        .password-strength-message {
                margin-top: -10px;
        }
        {% include "templates/styles/card_style.css" %}
</style>

<!--password validate text-->
<style>

/* / The message box is shown when the user clicks on the password field / */
#message {
  color: #000;
  position: relative;
  margin-top: 10px;
}

#message p {
  padding: 0px 5px;
  font-size:13px;
}

/*  Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -5px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong  */

.invalid:before {
  position: relative;
  left: -5px;
  content: "✖";
}
strong {
        font-weight: 600;
}
</style>
<!--end password validate text-->
{% endblock %}
