<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Reset Password</title>
  </head>

  <body style="background: #FAFBFC;font-family:sans-serif;">
    <div class="container" style="width: 1000px; margin:auto">
      <div class="main-div text-center" style="text-align:center;margin:auto">
        <div class="logo py-4 my-4" style="padding:30px 0;">
          {% set site = link.split('/') %} {% set sitename =
          site[0]+'//'+site[2] %}
          <img
            src="{{sitename}}/assets/tag_workflow/images/TAG-Logo.png"
            alt="TAG-Logo"
          />
        </div>
        <div
          class="inner-div bg-white py-2"
          style=" max-width: 700px; margin: 15px auto; width: 100%; border-radius: 13px;background: #fff; padding:10px 40px 40px 40px;"
        >
          <h2 style="color: #21B9E4;font-size: 32px;font-weight:normal;">
            Reset Password
          </h2>
          <p
            class="inner-text mb-0 py-3"
            style="color: #2A2E43;font-size: 16px;padding:16px 0"
          >
            {{_("Hi")}} {{ first_name }}{% if last_name %} {{ last_name}}{%
            endif %}!
          </p>
          <p class="inner-text" style="color: #2A2E43;font-size: 16px">
            Please click on the following link to set your new password:
          </p>
          <a
            href="{{ link }}"
            rel="nofollow"
            class="btn btn-primary btn-lg px-5 py-3 mt-5 mb-5"
            style=" background: #21B9E4;  padding: 15px 40px; font-size: 20px; border-radius: 5px;text-decoration: none; position: relative; top: 15px;"
            ><span style="color: white;">Reset Your Password</span></a
          >
          <p
            class="inner-text"
            style="top: 25px; position: relative;color: #2A2E43;font-size: 16px"
          >
            {{_("Thank You")}}<br />
            {{ created_by }}
          </p>
          <p
            class="footer"
            style="margin-top: 2rem;color: #78849E;  font-size: 13px;"
          >
            © 2023 TAG | All rights reserved
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
